<!-- Footer -->
<footer class="font-small indigo majanta-color text-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->
        <ul class="list-unstyled pt-1">
          <li>
            <a class="cpointer" (click)="redirectHomePage()" routerLinkActive="active"> <span class="sr-only">(current)</span></a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->
        <ul class="list-unstyled pt-1">
        <li>
           <a (click)="redirectAboutus()" class="cpointer"></a>
        </li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->
        <ul class="list-unstyled pt-1">
           <li>
              <a class="cpointer" (click)="redirectGservices()"></a>
           </li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto">
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->
        <ul class="list-unstyled pt-1">
          <li>
             <a (click)="redirectContactus()" class="cpointer"></a>
          </li>
          <li>
            <a class="cpointer" (click)="redirectToShowCareer()"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center pb-1">© 2022 Copyright:
    <a href="http://acp.com/" class="text-warning"> acp.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
